[Desktop Entry]
Version=1.0
Name=Play Cams
GenericName=Live Stream
Comment=Cam Live Stream
Exec=play-cams.sh
Icon=cams
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;
